extends layout
block styles
  link(rel='stylesheet', href='/stylesheets/todos.css')
  link(rel='stylesheet', href='/stylesheets/font-awesome.css')
  link(rel='stylesheet', href='/stylesheets/jquery.dropdown.css')
block content
    #cover
    #app
      section#top
        .form-box
          if (typeof username!="undefined")
              .form-group.location
                input#new-post-url(type="text", placeholder="Add URL here")
                input#new-post-block(type="text", placeholder="Add id", style="display:none;")

                a.submit(href="javascript:;")
                  | Submit              
          else
            br
            .login-prompt
              a(href="/login")
                | Login to Post!
        if (typeof username!="undefined")
          if (block && block.length)
            a(href="../")
              i.icon-arrow-left     
              |  Home       
          else
            a#new-bucket-link(href="javascript:;")
              | New Bucket 
              i.icon-plus
        - var klass = (block ? 'block-url' : '')
      section#main(class=klass)
        #new-bucket
          .block-header            
          .prompt
            | Add a URL above 
            br
            |or
            br 
            | Drag a URL to the page

        ul#list

block bodyscripts
  script
    username="#{username}", block="#{block}", home=#{home}, userId="#{userId}";
  script#item-template(type="text/template")
    |<div class="view"> 
    |  <input class="title-edit">
    |  <div class="body"> <%= body %> </div>
    |  <textarea class="body-edit"> <%= title %> </textarea>
    |  <a href="javascript:;" class="submit-update">Update</a>
    |  <a href="<%= url %>" target="_blank" >
    |  <% if (favicon) { %>
    |  <img class="icon" src="<%= favicon %>">  </img>  
    |  <% } else { %>
    |  <i class="icon-file icon"></i>
    |  <% } %>
    |  </a>
    |  <div class="title" >&nbsp;&nbsp;<span><%= title %> </span> </div> 
    |  <a class="ext-link" target="_blank" href="<%= url %>"><i class="icon-external-link"></i></i><a/>

    | <% if (OtherBookmarkBlocks.length > 0) { %>
    |   <a class="menu" data-dropdown="#other-dropdown-<%= _id %>" href="#"> <i class="icon-group"></i> (<%= OtherBookmarkBlocks.length %>) <a/>
    |   <div  id="other-dropdown-<%= _id %>" class="dropdown dropdown-tip">
    |    <ul class="dropdown-menu">
    |    <% _.each(OtherBookmarkBlocks, function(acs) { %> 
    |     <li>  <a target="_blank" href="/<%= acs.block._id%>" class="btn">   <b><%= acs.user.username %></b>  placed this in <i> <%= acs.block.title %> </i> </a> </li>
    |    <% }); %>
    |    </ul>
    |   </div> 
    | <% } %>
    |  <a class="menu" data-dropdown="#dropdown-<%= _id %>" href="#"><i style=""class="icon-sort-down"></i></i><a/>
    |  <span> | <%= timeAgo %> </span>  
    |  <a href="/user/<%= user.username %>"> | <%= user.username %></a>  
    |  <div  id="dropdown-<%= _id %>" class="dropdown dropdown-tip">
    |   <ul class="dropdown-menu">
    |    <li> <a class="edit" href="javascript:;" class="destroy"><i class="icon-edit"></i></a></li>
    |    <li> <a class="destroy" href="javascript:;" class="destroy"><i class="icon-remove"></i> </a> </li>
    |   </ul>
    |  </div> 

  script#block-template(type="text/template")
    |<div class="block-header">
    |<div class="block-header-right">
    |<a class="block-link select-message"> <b>selected</b> |&nbsp;</a>
    |<a class="block-link bucket-select" href="javascript:;"> select bucket <i class="icon-plus"></i> </a>
    ||&nbsp;
    |<a class="block-link" href="/user/<%= username %>" > <%= username %> </a>
    ||&nbsp;
    |<a class="block-link" href="<%= _id %> "> view bucket <i class="icon-arrow-right"></i> </a>
    |</div>
    |<b class="block-title"> <%= title %> </b>
    |<a class="edit" href="javascript:;" >edit</a>
    |<input class="new-title">
    |<a class="update" href="javascript:;" >Submit</a>
    |</div>
    |<ul class="block-view"></ul>
    |</div>
  script(type="text/javascript", src="/javascripts/todos.js")